* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    padding: 20px;
}

.color-guide {
    border: 1px solid black;
    margin: 0 20px;
}

.color-guide h2 {
    padding: 20px;
}

.color-container {
    padding: 0 20px 20px 20px;
}

.color-panel {
    height: 200px;
    width: 200px;
    margin: 10px;
    display: inline-block;
}

.burnt-orange {
    background-color: #eb6e28;
    color: white;
}

.espresso {
    background-color: #252422;
    color: white;
}

.coffee {
    background-color: #403d39;
    color: white
}

.taupe {
    background-color: #ccc5b9;
}

.off-white {
    background-color: #fffcf2;
}

.color-panel p {
    padding: 10px;
}

.color-panel h4 {
    padding: 10px;
}

.font-guide {
    border: 1px solid black;
    margin: 0 20px;
}

.font-panel {
    display: inline-block;
    width: 40%;
    padding-bottom: 20px;
}

.dm-sans p {
    font-family: 'DM Sans', sans-serif;
    padding: 5px;
}

.noto-serif p {
    font-family: 'Noto Serif', serif;
    padding: 5px;
}

.font-name {
    text-decoration: underline;
    font-size: 1.3em;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.italic {
    font-weight: 400;
    font-style: italic;
}

.style-guide {
    border: 1px solid black;
    margin: 0 20px;
}

.style-panel {
    display: inline-block;
    width: 30%;
    padding-bottom: 20px;
}

.h1-style h1 {
    font-family: 'Noto Serif', serif;
    font-size: 40px;
}

.h2-style h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    padding: 20px;
}

.p-style p {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    padding: 20px;
}

li {
    list-style-type: none;
}